<%- include('../layouts/header.ejs') %>
<!-- Add Font Awesome CDN to your HTML <head> -->

<div >
    <!-- breadcrumb -->
    <% products.forEach(product => { %>
    <div
        class="breadcrumb flex items-center space-x-2 p-4 bg-gray-100 rounded-lg ">
        <!-- Shop link -->
        <a
            href="index.html"
            class="text-blue-600 hover:text-blue-800 font-semibold ml-12">
            Shop
        </a>
        <!-- SVG arrow separator -->
        <svg
            class="w-4 h-4 text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7" />
        </svg>
        <!-- Book name link -->
        <span>
            <%= product.productname %>
        </span>
    </div>

    <!-- Product Detail -->
    <section class="sec-product-detail p-t-65 p-b-60">
        <div class="container mx-auto">
            <div class="flex flex-wrap justify-center">
                <!-- Product Image Section -->
                <aside class="lg:w-1/2 p-6">
                    <div id="imageContainer" class="mb-6 flex justify-center relative overflow-hidden bg-white">
                        <div class="border rounded-lg shadow-lg mb-3">
                            <div id="img-zoomer-box" class="relative">
                                <img
                                    id="selectedImage"
                                    class="rounded-lg transition-all duration-300 ease-out"
                                    style="width: 40rem; height: 30rem; object-fit: contain;"
                                    src="uploadProduct/<%= product.image[0] %>"
                                />
                            </div>
                        </div>
                    </div>

						  <div class="flex justify-center items-center gap-2 mb-6">
							<% for (i = 0; i < product.image.length; i++) { %>
							<a
								 data-fslightbox="mygallery"
								 class="border rounded-lg overflow-hidden"
								 data-type="image"
								 href="#"
								 onclick="changeImage('<%= product.image[i] %>')">
								 <img
									  class="w-16 h-16 object-cover rounded-lg"
									  src="uploadProduct/<%= product.image[i] %>"
									  alt="Thumbnail <%= i + 1 %>" />
							</a>
							<% } %>
					  </div>
					  
                </aside>

                <!-- Product Details Section -->
                <div class="lg:w-1/2 p-6">
                    <h4 class="text-2xl font-semibold text-gray-800 pb-4">
                        <%= product.productname %>
                    </h4>
                    <p class="text-gray-700 text-base mb-4">
                        <%= product.description %>
                    </p>

                    <div class="flex items-center space-x-4">
                        <% if (product.productprice !== product.salesprice) { %>
                        <span class="text-lg font-semibold text-red-500">
                            ₹<%= product.productprice %>
                        </span>
                        <span
                            class="text-lg font-medium text-gray-500 line-through">
                            ₹<%= product.salesprice %>
                        </span>
                        <!-- <span class="text-lg text-green-500 font-semibold">
                            <%= Math.round(((product.salesprice -
                            product.productprice) / product.salesprice) * 100)
                            %>%
                        </span> -->
                        <% } else { %>
                        <span class="text-lg font-semibold text-gray-800">
                            ₹<%= product.productprice %>
                        </span>
                        <% } %>

								<div class="mt text-center ">
									<div
										class="flex justify-center items-center space-x-4">
										<% if (product.isWishlist === true) { %>
										<i
												id="wishlistIconRemove"
												class="fa-solid fa-heart text-red-500 text-3xl cursor-pointer"
												data-productid="<%= product._id %>"></i>
										<% } else { %>
										<i
												id="wishlistIconAdd"
												class="fa-regular fa-heart text-gray-500 text-3xl cursor-pointer"
												data-productid="<%= product._id %>"></i>
										<% } %>
									</div>
								</div>
                    </div>

						  
                    <div class="mt-8">
                        <% if (product.quantity <= 0) { %>
                        <span class="text-red-500 font-semibold"
                            >Out of Stock</span
                        >
                        <% } else { %>
                        <button
                            class="w-full mt-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-300"
                            id="addtocart"
                            data-productid="<%= product._id %>">
                            Add to Cart
                        </button>
                        <% } %>

								
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% }); %>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        const count = $("#Quantity");
        const cartButton = $("#addtocart");
        const maxQuantity = Number($("#max-quantity").val());
        const errorContainer = $("#error-message");

        cartButton.click(function (e) {
            e.preventDefault();

            const productId = cartButton.data("productid");

            $.ajax({
                type: "POST",
                url: "/add-item-to-cart",
                data: JSON.stringify({ productId, quantity: 1 }),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    if (!response.user) window.location.href = "/login";
                    if (response.success) {
                        window.location.href = "/cart";
                    } else {
                        showError(response.message);
                    }
                },
                error: function (response) {
                    showError(response.message);
                },
            });
        });

        function showError(message) {
            errorContainer.text(message);
            errorContainer.show();
        }
    });
</script>
<script>
    $(document).ready(function () {
        const wishlistBtn = $("#wishlistIconAdd");

        wishlistBtn.click(function (e) {
            e.preventDefault();

            const productId = wishlistBtn.data("productid");

            $.ajax({
                type: "POST",
                url: `/addToWishlist/${productId}`,
                data: JSON.stringify({ productId }),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);

                    if (response.success) {
                        $("#wishlistIconAdd")
                            .removeClass("fa-regular fa-heart")
                            .addClass("fa-solid fa-heart");
                        console.log("clicked");
                        window.location.reload();
                    } else {
                        showError(response.message);
                    }
                },
                error: function (response) {
                    showError(response.message);
                },
            });
        });

        function showError(message) {
            // Implement error handling here
        }
    });
</script>

<script>
    $(document).ready(function () {
        const wishlistBtn = $("#wishlistIconRemove");

        wishlistBtn.click(function (e) {
            e.preventDefault();

            const productId = wishlistBtn.data("productid");

            $.ajax({
                type: "POST",
                url: `/removeWishlist/${productId}`,
                data: JSON.stringify({ productId }),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);

                    if (response.success) {
                        $("#wishlistIconRemove")
                            .removeClass("fa-solid fa-heart")
                            .addClass("fa-regular fa-heart");
                        console.log("clicked2");
                        window.location.reload();
                    } else {
                        showError(response.message);
                    }
                },
                error: function (response) {
                    showError(response.message);
                },
            });
        });

        function showError(message) {}
    });
</script>

<script>
    const container = document.getElementById("imageContainer");
    const img = document.getElementById("selectedImage");
    
    container.addEventListener("mousemove", onZoom);
    container.addEventListener("mouseover", onZoom);
    container.addEventListener("mouseleave", offZoom);

    function onZoom(e) {
        const x = e.clientX - container.offsetLeft;
        const y = e.clientY - container.offsetTop;

        // Adjusting for a smooth zoom effect, zoom only when the mouse is over the image
        img.style.transformOrigin = `${(x / container.offsetWidth) * 100}% ${(y / container.offsetHeight) * 100}%`;
        img.style.transform = "scale(2.5)"; // Smooth zoom
    }

    function offZoom() {
        // Resetting zoom and transition back to original state
        img.style.transformOrigin = `center center`;
        img.style.transform = "scale(1)";
    }
</script>

<script>
    function changeImage(imageSrc) {
        var selectedImage = document.getElementById("selectedImage");
        selectedImage.src = "uploadProduct/" + imageSrc;
        selectedImage.alt = "Selected Image";
    }
</script>

<%- include('../layouts/footer.ejs') %>
